@import "../../styles/tc-styles";

.SideBarFilters {
  font: 400 13px/30px Roboto;
  width: 360px;
  //make responsive for mobile
  @media (max-width: 950px) and (min-width: 768px){
    width: 100%;
    margin-bottom: 10px;
  }
  @include xs{
    width: 100%;
    margin-bottom: 10px;
  }

  .FilterBox {
    background: $tc-white;
    padding: 2*$base-unit;
    border-radius: 4px;

    .down-arrow{
      display: none;
    }

    h1 {
      border: none;
      color: $tc-gray-50;
      display: inline-block;
      font-size: 12px;
      margin: 0 3*$base-unit;
      padding: 0;
      text-align: left;
      text-decoration: none;
    }

    hr {
      background: $tc-gray-20;
      border: none;
      height: 1px;
      margin: 2*$base-unit 0;
    }

    #edit-button {
      background: $tc-white;
      border: 1px solid $tc-gray-50;
      border-radius: 2*$corner-radius;
      color: $tc-gray-50;
      cursor: pointer;
      float: right;
      line-height: 13px;
      padding: $base-unit 3*$base-unit;
      text-transform: none;
    }
  }

  .rss-link {
    display: block;
    font-family: 'Roboto';
    font-size: 13px;
    color: $tc-gray-70;
    line-height: 30px;
    margin: 10px;
  }

  @include xs{
    .FilterItem{
      margin: 0;
      padding: 0 10px 0 0;
      clear: both;
    }
    .FilterBox{
      padding: 5px 10px;
    }
    .FilterBox h1{
      margin: 0;
      float: left;
    }
    &.folded hr{
      display: none;
    }
    &.folded  hr,
    &.folded  h1,
    &.folded  button{
      display: none;
    }
    &.folded .FilterItem{
      display: none;
    } 
    &.folded .FilterItem.highlighted{
        display: inline-block;
        width: calc(100% - 14px);
        background-color: white;
        cursor: pointer;
    }
    &.folded .down-arrow{
      display: inline;
    }
    .rss-link{
      display: none;
    }
  }
}
