@import '../../../styles/tc-styles';
@import 'topcoder/tc-includes';

$view-options-toggle-right-margin: $base-unit * 2;
$down-arrow-size: $base-unit * 2;

%sorting-select-button {
  line-height: 21px;
  border-radius: 6px;
  padding: 8px 24px;
  background-color: $tc-white;
  font-weight: 700;
  text-transform: uppercase;
}

.sortingBar {
  display: flex;
  padding: 0;
  position: relative;
  height: 40px;
  .title {
    padding: $base-unit * 2;
    margin: 0;
    border: none;
    text-transform: none;
    font-size: 13px;
    color: $tc-gray-80;
    font-weight: 500;
    padding: 10px 0 10px 20px;
    line-height: 20px;
  }

  .view-options-toggle-container, .view-options {
    position: absolute;
    @include xs{
      display: none;
    }
  }

  .view-options-toggle-container {
    right: 20px;
  }

  .view-options-toggle-container-label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    color: $tc-gray-70;
    margin-right: 3px;
    padding: 13px 13px 13px 0;
    line-height: 14px;
    display: inline-block;
  }

  .view-options {
    top: 40px;
    right: 10px;
    z-index: 1;
    background: $tc-white;
    border-radius: $base-unit;
    padding: $base-unit;
    box-shadow: 1px 5px 15px $tc-gray-20;
    display: flex;
    flex-direction: column;
    text-transform: none;
    .view-option{
      text-transform: none;
    }
  }

  .view-option {
    @extend %sorting-select-button;

    font-weight: 300;
    padding: $base-unit * 2;
    outline: none;
    border: 0;
    color: $tc-black;
    text-align: left;
  }

  .view-options-toggle {
    @extend %sorting-select-button;

    color: $tc-gray-50;
    border: 1px solid $tc-gray-neutral-dark;
    border-radius: 144px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: #394146;
    width: 99px;
    height: 22px;
    margin: 9px 20px 9px 0;
    padding: 0;
    outline: none;
    text-transform: none;
  }

  .down-arrow {
    margin-right: 8px; 
    padding-top: 6px;
    float: right;
  }
}
